*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1.3;
}
img {
  max-width: 100%;
}
#app {
  max-width: 90vw;
  margin: 0 auto;
}
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  background: rebeccapurple;
  color: white;
  border: none;
  margin: 1rem 0;
  transition: 0.3s ease;
  flex-shrink: 0;
}
button:hover {
  background: palevioletred;
}
button:not(:last-of-type) {
  margin-right: 1rem;
}
button:focus {
  outline: none;
  background: salmon;
}
#buscador {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
label {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}
input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 1rem;
  flex-grow: 2;
  border-radius: 1rem;
  border: 1px solid;
}
input:focus {
  background:aliceblue;
  outline: none;
  border-color: #999999;
}

#resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet {
  border:1px solid #f7f7f7;
  box-shadow: 1px 1px 8px 2px #ece7e7;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}
.image-container {
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.image-container img {
  transform: scale(1) rotate(0);
  transition: 0.5s ease;
}
.pet {
  transition: 0.5s ease;
}
.pet h3 {
  margin-bottom: 0.3rem;
}
.pet:hover h3 {
  color: salmon;
}
.pet:hover img {
  transform: scale(1.2) rotate(0.6deg);
}

.pet a {
  font-size: 0.8rem;
  color: slateblue;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(to right, slateblue 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}
.pet a:hover {
  background-position: left bottom;
  color: white;
}
@media screen and (min-width: 768px) {
  .pet {
    flex-basis: calc((100% / 3) - 3rem);
    margin: 1rem;
  }
  .image-container {
     height: 300px;
  }
}